{% extends 'homepage/index.html' %}

{% load static %}

{% block content %}
	<!-- Single Page -->
	<div class="banner-bootom-w3-agileits py-5">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>S</span>ingle
				<span>P</span>age</h3>
			<!-- //tittle heading -->
			<div class="row">
				<div class="col-lg-5 col-md-8 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider">
							<ul class="slides">
								<li data-thumb="/{{ products.anhSP}}">
									<div class="thumb-image">
										<img src="/{{ products.anhSP}}" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li>
								{% comment %} <li data-thumb="/{{ products.anhSP}}">
									<div class="thumb-image">
										<img src="/{{ products.anhSP}}" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li>
								<li data-thumb="/{{ products.anhSP}}">
									<div class="thumb-image">
										<img src="/{{ products.anhSP}}" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li> {% endcomment %}
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-7 single-right-left simpleCart_shelfItem">
					<h3 class="mb-3">{{ products.tenSP}}</h3>
					<p class="mb-3">
						<span class="item_price">{{giaNhap.donGia}}</span>
						<del class="mx-2 font-weight-light">{{giaBan.donGia}}</del>
						<label>Free delivery</label>
					</p>
					<div class="single-infoagile">
						<ul>
							<li class="mb-3">
								{{products.moTa}}
							</li>
							
						</ul>
					</div>
					<div class="product-single-w3l">
						<p class="my-3">
							<i class="far fa-hand-point-right mr-2"></i>
							<label>1 Year</label>Manufacturer Warranty</p>
						<ul>
							<li class="mb-1">
								{{products.ram}} | {{products.boNhoTrong}}
							</li>
							<li class="mb-1">
								{{products.manHinh}} Full HD Display
							</li>
							<li class="mb-1">
								{{products.camera}} Camera
							</li>
							<li class="mb-1">
								{{products.pin}} Battery
							</li>
							<li class="mb-1">
								{{products.heDieuHanh}}
							</li>
							<li class="mb-1">
								CPU: {{products.CPU}}
							</li>
						</ul>
					</div>
					<div class="occasion-cart">
						<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
							<form action="{% url 'checkout' %}" method="post">
								<fieldset>
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="business" value=" " />
									<input type="hidden" name="item_name" value="{{products.tenSP}}" />
									<input type="hidden" name="amount" value="{{giaNhap.donGia}}" />
									<input type="hidden" name="discount_amount" value="0.00" />
									<input type="hidden" name="currency_code" value="VND" />
									<input type="hidden" name="return" value=" " />
									<input type="hidden" name="cancel_return" value=" " />
									<input type="submit" name="submit" value="Add to cart" class="button" />
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Single Page -->

{% endblock content %}

